<template>
    <v-app>
        <v-main>
            <v-container fluid>
                <Jitsi/>
            </v-container>
        </v-main>
    </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import Jitsi from "./components/Jitsti.vue";
export default Vue.extend({
  name: "App",

  components: {
    Jitsi
  },

  data: () => ({
    //
  })
});
</script>
