<template>
  <div id="meeting" >
    
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Jitsi extends Vue {
  private jitsiApi: object = {};
  mounted() {
    const recaptchaScript = document.createElement("script");
    recaptchaScript.setAttribute("src", "https://meet.jit.si/external_api.js");
    document.head.appendChild(recaptchaScript);
    this.jitsiApi = new (window as any).JitsiMeetExternalAPI("meet.jit.si",{
        roomName:"TestRoom",
        parentNode:this.$refs.jitsiContainer,
        userInfo: {
            email: 'test@local.loc',
            displayName: 'Carlos Ortiz'
        }
    });
  }
}
</script>
